.src-top{
    width: 11.26rem;
    height: 1.48rem;
    line-height: 1.48rem;
}
.src-t{
    width: 1.05rem;
    height: 1.48rem;
    text-align: center;
    
}
.src-t i{
    color: #999;
    font-size: 1rem;
    line-height: 1.48rem;
}
.src-i input{
    width: 8.25rem;
    height: 0.82rem;
    border: 0;
    background: #eee;
    margin-left: 0.5rem;
    font-size: 0.45rem;
    text-indent: 1em;
}
.src-s{
    font-size: 0.55rem;
    line-height: 1.3rem;
    margin-right: 0.2rem;
}
.hot{
    width: 10.26rem;
    font-size: 0.5rem;
    color: #999;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}